*{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
    font-size: 3rem;
}
li{
    font-size: 2rem;
}
h2{
    font-size: 2.5rem;
}

.images,
p{
    text-align: center;
}

p{
    font-size: 1.5rem;
}

.home{
    padding-top: 8rem;
    text-align: center;
    font-size: 1.5rem;
}